/*
 * AVACloud API 1.41.0
 * AVACloud API specification
 *
 * OpenAPI spec version: 1.41.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package com.danglit.avacloud.client.api;

import com.danglit.avacloud.client.invoker.ApiCallback;
import com.danglit.avacloud.client.invoker.ApiClient;
import com.danglit.avacloud.client.invoker.ApiException;
import com.danglit.avacloud.client.invoker.ApiResponse;
import com.danglit.avacloud.client.invoker.Configuration;
import com.danglit.avacloud.client.invoker.Pair;
import com.danglit.avacloud.client.invoker.ProgressRequestBody;
import com.danglit.avacloud.client.invoker.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.danglit.avacloud.client.models.ApiError;
import java.io.File;
import com.danglit.avacloud.client.models.ProjectDto;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class GaebConversionApi {
    private ApiClient apiClient;

    public GaebConversionApi() {
        this(Configuration.getDefaultApiClient());
    }

    public GaebConversionApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for gaebConversionConvertToAva
     * @param gaebFile The input file (optional)
     * @param supportSkippedItemNumberLevelsInPositions Defaults to &#39;false&#39;. This controls if, when deserializing GAEB files, skipped levels in position item numbers should be supported. For example, if an ItemNumberSchema defines three levels - two group levels and one position level - but the ItemNumber of the position is just &#39;01.02&#39;, then it will be displayed as &#39;01.__.02&#39; if this is set to true. (optional)
     * @param removePlainTextLongTexts If set to true, plain text long texts will be removed from the output to reduce response sizes (optional)
     * @param removeHtmlLongTexts If set to true, html long texts will be removed from the output to reduce response sizes (optional)
     * @param outputHtmlAsXml Defaults to &#39;false&#39;. If this is enabled, then Html text will be output as XML in the output. This means that e.g. void Html tags will always be output with their closing tag, e.g. it will produce &#39;&lt;br /&gt;&#39; instead of &#39;&lt;br&gt;&#39;. (optional)
     * @param keepEmptyHtmlText Defaults to &#39;false&#39;. If this is enabled, then Html text that is empty will be kept in the output. Otherwise, Html text without any plain text will be removed. This is useful for example if you want to keep texts that only consist of empty paragraphs in the output. (optional)
     * @param allowUpperCaseItemNumbers Defaults to &#39;false&#39;. If this is enabled, then the ItemNumber of positions will be in uppercase format if the source file has them. By default, all item numbers will be converted to lowercase, but this option will enable the option to support uppercase item numbers as well. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call gaebConversionConvertToAvaCall(File gaebFile, Boolean supportSkippedItemNumberLevelsInPositions, Boolean removePlainTextLongTexts, Boolean removeHtmlLongTexts, Boolean outputHtmlAsXml, Boolean keepEmptyHtmlText, Boolean allowUpperCaseItemNumbers, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/conversion/gaeb/ava";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (supportSkippedItemNumberLevelsInPositions != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("SupportSkippedItemNumberLevelsInPositions", supportSkippedItemNumberLevelsInPositions));
        if (removePlainTextLongTexts != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("RemovePlainTextLongTexts", removePlainTextLongTexts));
        if (removeHtmlLongTexts != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("RemoveHtmlLongTexts", removeHtmlLongTexts));
        if (outputHtmlAsXml != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("OutputHtmlAsXml", outputHtmlAsXml));
        if (keepEmptyHtmlText != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("KeepEmptyHtmlText", keepEmptyHtmlText));
        if (allowUpperCaseItemNumbers != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("AllowUpperCaseItemNumbers", allowUpperCaseItemNumbers));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (gaebFile != null)
        localVarFormParams.put("gaebFile", gaebFile);

        final String[] localVarAccepts = {
            "application/vnd.com.dangl-it.ProjectDto.v1+json", "application/problem+json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Dangl.Identity" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call gaebConversionConvertToAvaValidateBeforeCall(File gaebFile, Boolean supportSkippedItemNumberLevelsInPositions, Boolean removePlainTextLongTexts, Boolean removeHtmlLongTexts, Boolean outputHtmlAsXml, Boolean keepEmptyHtmlText, Boolean allowUpperCaseItemNumbers, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = gaebConversionConvertToAvaCall(gaebFile, supportSkippedItemNumberLevelsInPositions, removePlainTextLongTexts, removeHtmlLongTexts, outputHtmlAsXml, keepEmptyHtmlText, allowUpperCaseItemNumbers, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Converts GAEB files to Dangl.AVA projects
     * 
     * @param gaebFile The input file (optional)
     * @param supportSkippedItemNumberLevelsInPositions Defaults to &#39;false&#39;. This controls if, when deserializing GAEB files, skipped levels in position item numbers should be supported. For example, if an ItemNumberSchema defines three levels - two group levels and one position level - but the ItemNumber of the position is just &#39;01.02&#39;, then it will be displayed as &#39;01.__.02&#39; if this is set to true. (optional)
     * @param removePlainTextLongTexts If set to true, plain text long texts will be removed from the output to reduce response sizes (optional)
     * @param removeHtmlLongTexts If set to true, html long texts will be removed from the output to reduce response sizes (optional)
     * @param outputHtmlAsXml Defaults to &#39;false&#39;. If this is enabled, then Html text will be output as XML in the output. This means that e.g. void Html tags will always be output with their closing tag, e.g. it will produce &#39;&lt;br /&gt;&#39; instead of &#39;&lt;br&gt;&#39;. (optional)
     * @param keepEmptyHtmlText Defaults to &#39;false&#39;. If this is enabled, then Html text that is empty will be kept in the output. Otherwise, Html text without any plain text will be removed. This is useful for example if you want to keep texts that only consist of empty paragraphs in the output. (optional)
     * @param allowUpperCaseItemNumbers Defaults to &#39;false&#39;. If this is enabled, then the ItemNumber of positions will be in uppercase format if the source file has them. By default, all item numbers will be converted to lowercase, but this option will enable the option to support uppercase item numbers as well. (optional)
     * @return ProjectDto
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ProjectDto gaebConversionConvertToAva(File gaebFile, Boolean supportSkippedItemNumberLevelsInPositions, Boolean removePlainTextLongTexts, Boolean removeHtmlLongTexts, Boolean outputHtmlAsXml, Boolean keepEmptyHtmlText, Boolean allowUpperCaseItemNumbers) throws ApiException {
        ApiResponse<ProjectDto> resp = gaebConversionConvertToAvaWithHttpInfo(gaebFile, supportSkippedItemNumberLevelsInPositions, removePlainTextLongTexts, removeHtmlLongTexts, outputHtmlAsXml, keepEmptyHtmlText, allowUpperCaseItemNumbers);
        return resp.getData();
    }

    /**
     * Converts GAEB files to Dangl.AVA projects
     * 
     * @param gaebFile The input file (optional)
     * @param supportSkippedItemNumberLevelsInPositions Defaults to &#39;false&#39;. This controls if, when deserializing GAEB files, skipped levels in position item numbers should be supported. For example, if an ItemNumberSchema defines three levels - two group levels and one position level - but the ItemNumber of the position is just &#39;01.02&#39;, then it will be displayed as &#39;01.__.02&#39; if this is set to true. (optional)
     * @param removePlainTextLongTexts If set to true, plain text long texts will be removed from the output to reduce response sizes (optional)
     * @param removeHtmlLongTexts If set to true, html long texts will be removed from the output to reduce response sizes (optional)
     * @param outputHtmlAsXml Defaults to &#39;false&#39;. If this is enabled, then Html text will be output as XML in the output. This means that e.g. void Html tags will always be output with their closing tag, e.g. it will produce &#39;&lt;br /&gt;&#39; instead of &#39;&lt;br&gt;&#39;. (optional)
     * @param keepEmptyHtmlText Defaults to &#39;false&#39;. If this is enabled, then Html text that is empty will be kept in the output. Otherwise, Html text without any plain text will be removed. This is useful for example if you want to keep texts that only consist of empty paragraphs in the output. (optional)
     * @param allowUpperCaseItemNumbers Defaults to &#39;false&#39;. If this is enabled, then the ItemNumber of positions will be in uppercase format if the source file has them. By default, all item numbers will be converted to lowercase, but this option will enable the option to support uppercase item numbers as well. (optional)
     * @return ApiResponse&lt;ProjectDto&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ProjectDto> gaebConversionConvertToAvaWithHttpInfo(File gaebFile, Boolean supportSkippedItemNumberLevelsInPositions, Boolean removePlainTextLongTexts, Boolean removeHtmlLongTexts, Boolean outputHtmlAsXml, Boolean keepEmptyHtmlText, Boolean allowUpperCaseItemNumbers) throws ApiException {
        com.squareup.okhttp.Call call = gaebConversionConvertToAvaValidateBeforeCall(gaebFile, supportSkippedItemNumberLevelsInPositions, removePlainTextLongTexts, removeHtmlLongTexts, outputHtmlAsXml, keepEmptyHtmlText, allowUpperCaseItemNumbers, null, null);
        Type localVarReturnType = new TypeToken<ProjectDto>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Converts GAEB files to Dangl.AVA projects (asynchronously)
     * 
     * @param gaebFile The input file (optional)
     * @param supportSkippedItemNumberLevelsInPositions Defaults to &#39;false&#39;. This controls if, when deserializing GAEB files, skipped levels in position item numbers should be supported. For example, if an ItemNumberSchema defines three levels - two group levels and one position level - but the ItemNumber of the position is just &#39;01.02&#39;, then it will be displayed as &#39;01.__.02&#39; if this is set to true. (optional)
     * @param removePlainTextLongTexts If set to true, plain text long texts will be removed from the output to reduce response sizes (optional)
     * @param removeHtmlLongTexts If set to true, html long texts will be removed from the output to reduce response sizes (optional)
     * @param outputHtmlAsXml Defaults to &#39;false&#39;. If this is enabled, then Html text will be output as XML in the output. This means that e.g. void Html tags will always be output with their closing tag, e.g. it will produce &#39;&lt;br /&gt;&#39; instead of &#39;&lt;br&gt;&#39;. (optional)
     * @param keepEmptyHtmlText Defaults to &#39;false&#39;. If this is enabled, then Html text that is empty will be kept in the output. Otherwise, Html text without any plain text will be removed. This is useful for example if you want to keep texts that only consist of empty paragraphs in the output. (optional)
     * @param allowUpperCaseItemNumbers Defaults to &#39;false&#39;. If this is enabled, then the ItemNumber of positions will be in uppercase format if the source file has them. By default, all item numbers will be converted to lowercase, but this option will enable the option to support uppercase item numbers as well. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call gaebConversionConvertToAvaAsync(File gaebFile, Boolean supportSkippedItemNumberLevelsInPositions, Boolean removePlainTextLongTexts, Boolean removeHtmlLongTexts, Boolean outputHtmlAsXml, Boolean keepEmptyHtmlText, Boolean allowUpperCaseItemNumbers, final ApiCallback<ProjectDto> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = gaebConversionConvertToAvaValidateBeforeCall(gaebFile, supportSkippedItemNumberLevelsInPositions, removePlainTextLongTexts, removeHtmlLongTexts, outputHtmlAsXml, keepEmptyHtmlText, allowUpperCaseItemNumbers, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ProjectDto>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for gaebConversionConvertToExcel
     * @param gaebFile The input file (optional)
     * @param supportSkippedItemNumberLevelsInPositions Defaults to &#39;false&#39;. This controls if, when deserializing GAEB files, skipped levels in position item numbers should be supported. For example, if an ItemNumberSchema defines three levels - two group levels and one position level - but the ItemNumber of the position is just &#39;01.02&#39;, then it will be displayed as &#39;01.__.02&#39; if this is set to true. (optional)
     * @param writePrices Defaults to true (optional)
     * @param writeLongTexts Defaults to true (optional)
     * @param conversionCulture The culture that should be used for the conversion process, to have localized Excel files (optional)
     * @param outputHtmlAsXml Defaults to &#39;false&#39;. If this is enabled, then Html text will be output as XML in the output. This means that e.g. void Html tags will always be output with their closing tag, e.g. it will produce &#39;&lt;br /&gt;&#39; instead of &#39;&lt;br&gt;&#39;. (optional)
     * @param keepEmptyHtmlText Defaults to &#39;false&#39;. If this is enabled, then Html text that is empty will be kept in the output. Otherwise, Html text without any plain text will be removed. This is useful for example if you want to keep texts that only consist of empty paragraphs in the output. (optional)
     * @param allowUpperCaseItemNumbers Defaults to &#39;false&#39;. If this is enabled, then the ItemNumber of positions will be in uppercase format if the source file has them. By default, all item numbers will be converted to lowercase, but this option will enable the option to support uppercase item numbers as well. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call gaebConversionConvertToExcelCall(File gaebFile, Boolean supportSkippedItemNumberLevelsInPositions, Boolean writePrices, Boolean writeLongTexts, String conversionCulture, Boolean outputHtmlAsXml, Boolean keepEmptyHtmlText, Boolean allowUpperCaseItemNumbers, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/conversion/gaeb/excel";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (supportSkippedItemNumberLevelsInPositions != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("SupportSkippedItemNumberLevelsInPositions", supportSkippedItemNumberLevelsInPositions));
        if (writePrices != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("WritePrices", writePrices));
        if (writeLongTexts != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("WriteLongTexts", writeLongTexts));
        if (conversionCulture != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("ConversionCulture", conversionCulture));
        if (outputHtmlAsXml != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("OutputHtmlAsXml", outputHtmlAsXml));
        if (keepEmptyHtmlText != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("KeepEmptyHtmlText", keepEmptyHtmlText));
        if (allowUpperCaseItemNumbers != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("AllowUpperCaseItemNumbers", allowUpperCaseItemNumbers));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (gaebFile != null)
        localVarFormParams.put("gaebFile", gaebFile);

        final String[] localVarAccepts = {
            "text/plain", "application/json", "text/json", "application/problem+json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Dangl.Identity" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call gaebConversionConvertToExcelValidateBeforeCall(File gaebFile, Boolean supportSkippedItemNumberLevelsInPositions, Boolean writePrices, Boolean writeLongTexts, String conversionCulture, Boolean outputHtmlAsXml, Boolean keepEmptyHtmlText, Boolean allowUpperCaseItemNumbers, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = gaebConversionConvertToExcelCall(gaebFile, supportSkippedItemNumberLevelsInPositions, writePrices, writeLongTexts, conversionCulture, outputHtmlAsXml, keepEmptyHtmlText, allowUpperCaseItemNumbers, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Converts GAEB files to Excel
     * 
     * @param gaebFile The input file (optional)
     * @param supportSkippedItemNumberLevelsInPositions Defaults to &#39;false&#39;. This controls if, when deserializing GAEB files, skipped levels in position item numbers should be supported. For example, if an ItemNumberSchema defines three levels - two group levels and one position level - but the ItemNumber of the position is just &#39;01.02&#39;, then it will be displayed as &#39;01.__.02&#39; if this is set to true. (optional)
     * @param writePrices Defaults to true (optional)
     * @param writeLongTexts Defaults to true (optional)
     * @param conversionCulture The culture that should be used for the conversion process, to have localized Excel files (optional)
     * @param outputHtmlAsXml Defaults to &#39;false&#39;. If this is enabled, then Html text will be output as XML in the output. This means that e.g. void Html tags will always be output with their closing tag, e.g. it will produce &#39;&lt;br /&gt;&#39; instead of &#39;&lt;br&gt;&#39;. (optional)
     * @param keepEmptyHtmlText Defaults to &#39;false&#39;. If this is enabled, then Html text that is empty will be kept in the output. Otherwise, Html text without any plain text will be removed. This is useful for example if you want to keep texts that only consist of empty paragraphs in the output. (optional)
     * @param allowUpperCaseItemNumbers Defaults to &#39;false&#39;. If this is enabled, then the ItemNumber of positions will be in uppercase format if the source file has them. By default, all item numbers will be converted to lowercase, but this option will enable the option to support uppercase item numbers as well. (optional)
     * @return File
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public File gaebConversionConvertToExcel(File gaebFile, Boolean supportSkippedItemNumberLevelsInPositions, Boolean writePrices, Boolean writeLongTexts, String conversionCulture, Boolean outputHtmlAsXml, Boolean keepEmptyHtmlText, Boolean allowUpperCaseItemNumbers) throws ApiException {
        ApiResponse<File> resp = gaebConversionConvertToExcelWithHttpInfo(gaebFile, supportSkippedItemNumberLevelsInPositions, writePrices, writeLongTexts, conversionCulture, outputHtmlAsXml, keepEmptyHtmlText, allowUpperCaseItemNumbers);
        return resp.getData();
    }

    /**
     * Converts GAEB files to Excel
     * 
     * @param gaebFile The input file (optional)
     * @param supportSkippedItemNumberLevelsInPositions Defaults to &#39;false&#39;. This controls if, when deserializing GAEB files, skipped levels in position item numbers should be supported. For example, if an ItemNumberSchema defines three levels - two group levels and one position level - but the ItemNumber of the position is just &#39;01.02&#39;, then it will be displayed as &#39;01.__.02&#39; if this is set to true. (optional)
     * @param writePrices Defaults to true (optional)
     * @param writeLongTexts Defaults to true (optional)
     * @param conversionCulture The culture that should be used for the conversion process, to have localized Excel files (optional)
     * @param outputHtmlAsXml Defaults to &#39;false&#39;. If this is enabled, then Html text will be output as XML in the output. This means that e.g. void Html tags will always be output with their closing tag, e.g. it will produce &#39;&lt;br /&gt;&#39; instead of &#39;&lt;br&gt;&#39;. (optional)
     * @param keepEmptyHtmlText Defaults to &#39;false&#39;. If this is enabled, then Html text that is empty will be kept in the output. Otherwise, Html text without any plain text will be removed. This is useful for example if you want to keep texts that only consist of empty paragraphs in the output. (optional)
     * @param allowUpperCaseItemNumbers Defaults to &#39;false&#39;. If this is enabled, then the ItemNumber of positions will be in uppercase format if the source file has them. By default, all item numbers will be converted to lowercase, but this option will enable the option to support uppercase item numbers as well. (optional)
     * @return ApiResponse&lt;File&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<File> gaebConversionConvertToExcelWithHttpInfo(File gaebFile, Boolean supportSkippedItemNumberLevelsInPositions, Boolean writePrices, Boolean writeLongTexts, String conversionCulture, Boolean outputHtmlAsXml, Boolean keepEmptyHtmlText, Boolean allowUpperCaseItemNumbers) throws ApiException {
        com.squareup.okhttp.Call call = gaebConversionConvertToExcelValidateBeforeCall(gaebFile, supportSkippedItemNumberLevelsInPositions, writePrices, writeLongTexts, conversionCulture, outputHtmlAsXml, keepEmptyHtmlText, allowUpperCaseItemNumbers, null, null);
        Type localVarReturnType = new TypeToken<File>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Converts GAEB files to Excel (asynchronously)
     * 
     * @param gaebFile The input file (optional)
     * @param supportSkippedItemNumberLevelsInPositions Defaults to &#39;false&#39;. This controls if, when deserializing GAEB files, skipped levels in position item numbers should be supported. For example, if an ItemNumberSchema defines three levels - two group levels and one position level - but the ItemNumber of the position is just &#39;01.02&#39;, then it will be displayed as &#39;01.__.02&#39; if this is set to true. (optional)
     * @param writePrices Defaults to true (optional)
     * @param writeLongTexts Defaults to true (optional)
     * @param conversionCulture The culture that should be used for the conversion process, to have localized Excel files (optional)
     * @param outputHtmlAsXml Defaults to &#39;false&#39;. If this is enabled, then Html text will be output as XML in the output. This means that e.g. void Html tags will always be output with their closing tag, e.g. it will produce &#39;&lt;br /&gt;&#39; instead of &#39;&lt;br&gt;&#39;. (optional)
     * @param keepEmptyHtmlText Defaults to &#39;false&#39;. If this is enabled, then Html text that is empty will be kept in the output. Otherwise, Html text without any plain text will be removed. This is useful for example if you want to keep texts that only consist of empty paragraphs in the output. (optional)
     * @param allowUpperCaseItemNumbers Defaults to &#39;false&#39;. If this is enabled, then the ItemNumber of positions will be in uppercase format if the source file has them. By default, all item numbers will be converted to lowercase, but this option will enable the option to support uppercase item numbers as well. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call gaebConversionConvertToExcelAsync(File gaebFile, Boolean supportSkippedItemNumberLevelsInPositions, Boolean writePrices, Boolean writeLongTexts, String conversionCulture, Boolean outputHtmlAsXml, Boolean keepEmptyHtmlText, Boolean allowUpperCaseItemNumbers, final ApiCallback<File> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = gaebConversionConvertToExcelValidateBeforeCall(gaebFile, supportSkippedItemNumberLevelsInPositions, writePrices, writeLongTexts, conversionCulture, outputHtmlAsXml, keepEmptyHtmlText, allowUpperCaseItemNumbers, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<File>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for gaebConversionConvertToGaeb
     * @param gaebFile The input file (optional)
     * @param supportSkippedItemNumberLevelsInPositions Defaults to &#39;false&#39;. This controls if, when deserializing GAEB files, skipped levels in position item numbers should be supported. For example, if an ItemNumberSchema defines three levels - two group levels and one position level - but the ItemNumber of the position is just &#39;01.02&#39;, then it will be displayed as &#39;01.__.02&#39; if this is set to true. (optional)
     * @param destinationGaebType Defaults to GAEB XML V3.2 (optional)
     * @param targetExchangePhaseTransform Defaults to none, meaning no transformation will be done (optional)
     * @param enforceStrictOfferPhaseLongTextOutput Defaults to false. If this is enabled, exported long texts to GAEB XML that use text additions will be strictly schema compliant. If this is not enabled, any text that is marked to contain a text addition is exported in full to ensure that incorrectly used text additions are still preserved in the export. (optional)
     * @param exportQuantityDetermination Defaults to false. If this is enabled, quantities are exported in detail in GAEB XML targets via the &#39;QtyDeterm&#39; (Quantity Determination, or Quantity Take Off) fields. To control this, you can set custom quantity calculations in the &#39;QuantityComponents&#39; property of positions. Please see the entry for &#39;Quantity Determination&#39; in the Dangl.AVA HowTo documentation section. Please be advised that enabling this might export data that was not intended to be exported, like internal quantity calculation details, depending on what data you put in the &#39;QuantityComponents&#39; property. (optional)
     * @param removeUnprintableCharactersFromTexts If this is enabled, unprintable characters are removed from text elements. Otherwise, the conversion might fail in case some text content contains characters that are not allowed in XML output formats. Defaults to true. (optional)
     * @param forceIncludeDescriptions If this is enabled, all description elements like texts and execution descriptions will be output to the result. This is mostly only applicable to GAEB exports to phase 84 - Offer, which does typically not include descriptions. (optional)
     * @param treatNullItemNumberSchemaAsInvalid When exporting to GAEB, an item number schema is usually required. AVACloud will try to fix invalid item number schemas. With this setting, you can also tell AVACloud to treat a null value as invalid. Otherwise, null schemas will simply be ignored and not lead to any schema being generated. It is recommended to enable this option, but it is disabled by default for compatibility reasons. (optional)
     * @param outputHtmlAsXml Defaults to &#39;false&#39;. If this is enabled, then Html text will be output as XML in the output. This means that e.g. void Html tags will always be output with their closing tag, e.g. it will produce &#39;&lt;br /&gt;&#39; instead of &#39;&lt;br&gt;&#39;. (optional)
     * @param keepEmptyHtmlText Defaults to &#39;false&#39;. If this is enabled, then Html text that is empty will be kept in the output. Otherwise, Html text without any plain text will be removed. This is useful for example if you want to keep texts that only consist of empty paragraphs in the output. (optional)
     * @param allowUpperCaseItemNumbers Defaults to &#39;false&#39;. If this is enabled, then the ItemNumber of positions will be in uppercase format if the source file has them. By default, all item numbers will be converted to lowercase, but this option will enable the option to support uppercase item numbers as well. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call gaebConversionConvertToGaebCall(File gaebFile, Boolean supportSkippedItemNumberLevelsInPositions, String destinationGaebType, String targetExchangePhaseTransform, Boolean enforceStrictOfferPhaseLongTextOutput, Boolean exportQuantityDetermination, Boolean removeUnprintableCharactersFromTexts, Boolean forceIncludeDescriptions, Boolean treatNullItemNumberSchemaAsInvalid, Boolean outputHtmlAsXml, Boolean keepEmptyHtmlText, Boolean allowUpperCaseItemNumbers, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/conversion/gaeb/gaeb";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (supportSkippedItemNumberLevelsInPositions != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("SupportSkippedItemNumberLevelsInPositions", supportSkippedItemNumberLevelsInPositions));
        if (destinationGaebType != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("DestinationGaebType", destinationGaebType));
        if (targetExchangePhaseTransform != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("TargetExchangePhaseTransform", targetExchangePhaseTransform));
        if (enforceStrictOfferPhaseLongTextOutput != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("EnforceStrictOfferPhaseLongTextOutput", enforceStrictOfferPhaseLongTextOutput));
        if (exportQuantityDetermination != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("ExportQuantityDetermination", exportQuantityDetermination));
        if (removeUnprintableCharactersFromTexts != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("RemoveUnprintableCharactersFromTexts", removeUnprintableCharactersFromTexts));
        if (forceIncludeDescriptions != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("ForceIncludeDescriptions", forceIncludeDescriptions));
        if (treatNullItemNumberSchemaAsInvalid != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("TreatNullItemNumberSchemaAsInvalid", treatNullItemNumberSchemaAsInvalid));
        if (outputHtmlAsXml != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("OutputHtmlAsXml", outputHtmlAsXml));
        if (keepEmptyHtmlText != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("KeepEmptyHtmlText", keepEmptyHtmlText));
        if (allowUpperCaseItemNumbers != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("AllowUpperCaseItemNumbers", allowUpperCaseItemNumbers));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (gaebFile != null)
        localVarFormParams.put("gaebFile", gaebFile);

        final String[] localVarAccepts = {
            "text/plain", "application/json", "text/json", "application/problem+json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Dangl.Identity" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call gaebConversionConvertToGaebValidateBeforeCall(File gaebFile, Boolean supportSkippedItemNumberLevelsInPositions, String destinationGaebType, String targetExchangePhaseTransform, Boolean enforceStrictOfferPhaseLongTextOutput, Boolean exportQuantityDetermination, Boolean removeUnprintableCharactersFromTexts, Boolean forceIncludeDescriptions, Boolean treatNullItemNumberSchemaAsInvalid, Boolean outputHtmlAsXml, Boolean keepEmptyHtmlText, Boolean allowUpperCaseItemNumbers, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = gaebConversionConvertToGaebCall(gaebFile, supportSkippedItemNumberLevelsInPositions, destinationGaebType, targetExchangePhaseTransform, enforceStrictOfferPhaseLongTextOutput, exportQuantityDetermination, removeUnprintableCharactersFromTexts, forceIncludeDescriptions, treatNullItemNumberSchemaAsInvalid, outputHtmlAsXml, keepEmptyHtmlText, allowUpperCaseItemNumbers, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Converts GAEB files to GAEB files. Used for example when transforming or repairing GAEB files.
     * 
     * @param gaebFile The input file (optional)
     * @param supportSkippedItemNumberLevelsInPositions Defaults to &#39;false&#39;. This controls if, when deserializing GAEB files, skipped levels in position item numbers should be supported. For example, if an ItemNumberSchema defines three levels - two group levels and one position level - but the ItemNumber of the position is just &#39;01.02&#39;, then it will be displayed as &#39;01.__.02&#39; if this is set to true. (optional)
     * @param destinationGaebType Defaults to GAEB XML V3.2 (optional)
     * @param targetExchangePhaseTransform Defaults to none, meaning no transformation will be done (optional)
     * @param enforceStrictOfferPhaseLongTextOutput Defaults to false. If this is enabled, exported long texts to GAEB XML that use text additions will be strictly schema compliant. If this is not enabled, any text that is marked to contain a text addition is exported in full to ensure that incorrectly used text additions are still preserved in the export. (optional)
     * @param exportQuantityDetermination Defaults to false. If this is enabled, quantities are exported in detail in GAEB XML targets via the &#39;QtyDeterm&#39; (Quantity Determination, or Quantity Take Off) fields. To control this, you can set custom quantity calculations in the &#39;QuantityComponents&#39; property of positions. Please see the entry for &#39;Quantity Determination&#39; in the Dangl.AVA HowTo documentation section. Please be advised that enabling this might export data that was not intended to be exported, like internal quantity calculation details, depending on what data you put in the &#39;QuantityComponents&#39; property. (optional)
     * @param removeUnprintableCharactersFromTexts If this is enabled, unprintable characters are removed from text elements. Otherwise, the conversion might fail in case some text content contains characters that are not allowed in XML output formats. Defaults to true. (optional)
     * @param forceIncludeDescriptions If this is enabled, all description elements like texts and execution descriptions will be output to the result. This is mostly only applicable to GAEB exports to phase 84 - Offer, which does typically not include descriptions. (optional)
     * @param treatNullItemNumberSchemaAsInvalid When exporting to GAEB, an item number schema is usually required. AVACloud will try to fix invalid item number schemas. With this setting, you can also tell AVACloud to treat a null value as invalid. Otherwise, null schemas will simply be ignored and not lead to any schema being generated. It is recommended to enable this option, but it is disabled by default for compatibility reasons. (optional)
     * @param outputHtmlAsXml Defaults to &#39;false&#39;. If this is enabled, then Html text will be output as XML in the output. This means that e.g. void Html tags will always be output with their closing tag, e.g. it will produce &#39;&lt;br /&gt;&#39; instead of &#39;&lt;br&gt;&#39;. (optional)
     * @param keepEmptyHtmlText Defaults to &#39;false&#39;. If this is enabled, then Html text that is empty will be kept in the output. Otherwise, Html text without any plain text will be removed. This is useful for example if you want to keep texts that only consist of empty paragraphs in the output. (optional)
     * @param allowUpperCaseItemNumbers Defaults to &#39;false&#39;. If this is enabled, then the ItemNumber of positions will be in uppercase format if the source file has them. By default, all item numbers will be converted to lowercase, but this option will enable the option to support uppercase item numbers as well. (optional)
     * @return File
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public File gaebConversionConvertToGaeb(File gaebFile, Boolean supportSkippedItemNumberLevelsInPositions, String destinationGaebType, String targetExchangePhaseTransform, Boolean enforceStrictOfferPhaseLongTextOutput, Boolean exportQuantityDetermination, Boolean removeUnprintableCharactersFromTexts, Boolean forceIncludeDescriptions, Boolean treatNullItemNumberSchemaAsInvalid, Boolean outputHtmlAsXml, Boolean keepEmptyHtmlText, Boolean allowUpperCaseItemNumbers) throws ApiException {
        ApiResponse<File> resp = gaebConversionConvertToGaebWithHttpInfo(gaebFile, supportSkippedItemNumberLevelsInPositions, destinationGaebType, targetExchangePhaseTransform, enforceStrictOfferPhaseLongTextOutput, exportQuantityDetermination, removeUnprintableCharactersFromTexts, forceIncludeDescriptions, treatNullItemNumberSchemaAsInvalid, outputHtmlAsXml, keepEmptyHtmlText, allowUpperCaseItemNumbers);
        return resp.getData();
    }

    /**
     * Converts GAEB files to GAEB files. Used for example when transforming or repairing GAEB files.
     * 
     * @param gaebFile The input file (optional)
     * @param supportSkippedItemNumberLevelsInPositions Defaults to &#39;false&#39;. This controls if, when deserializing GAEB files, skipped levels in position item numbers should be supported. For example, if an ItemNumberSchema defines three levels - two group levels and one position level - but the ItemNumber of the position is just &#39;01.02&#39;, then it will be displayed as &#39;01.__.02&#39; if this is set to true. (optional)
     * @param destinationGaebType Defaults to GAEB XML V3.2 (optional)
     * @param targetExchangePhaseTransform Defaults to none, meaning no transformation will be done (optional)
     * @param enforceStrictOfferPhaseLongTextOutput Defaults to false. If this is enabled, exported long texts to GAEB XML that use text additions will be strictly schema compliant. If this is not enabled, any text that is marked to contain a text addition is exported in full to ensure that incorrectly used text additions are still preserved in the export. (optional)
     * @param exportQuantityDetermination Defaults to false. If this is enabled, quantities are exported in detail in GAEB XML targets via the &#39;QtyDeterm&#39; (Quantity Determination, or Quantity Take Off) fields. To control this, you can set custom quantity calculations in the &#39;QuantityComponents&#39; property of positions. Please see the entry for &#39;Quantity Determination&#39; in the Dangl.AVA HowTo documentation section. Please be advised that enabling this might export data that was not intended to be exported, like internal quantity calculation details, depending on what data you put in the &#39;QuantityComponents&#39; property. (optional)
     * @param removeUnprintableCharactersFromTexts If this is enabled, unprintable characters are removed from text elements. Otherwise, the conversion might fail in case some text content contains characters that are not allowed in XML output formats. Defaults to true. (optional)
     * @param forceIncludeDescriptions If this is enabled, all description elements like texts and execution descriptions will be output to the result. This is mostly only applicable to GAEB exports to phase 84 - Offer, which does typically not include descriptions. (optional)
     * @param treatNullItemNumberSchemaAsInvalid When exporting to GAEB, an item number schema is usually required. AVACloud will try to fix invalid item number schemas. With this setting, you can also tell AVACloud to treat a null value as invalid. Otherwise, null schemas will simply be ignored and not lead to any schema being generated. It is recommended to enable this option, but it is disabled by default for compatibility reasons. (optional)
     * @param outputHtmlAsXml Defaults to &#39;false&#39;. If this is enabled, then Html text will be output as XML in the output. This means that e.g. void Html tags will always be output with their closing tag, e.g. it will produce &#39;&lt;br /&gt;&#39; instead of &#39;&lt;br&gt;&#39;. (optional)
     * @param keepEmptyHtmlText Defaults to &#39;false&#39;. If this is enabled, then Html text that is empty will be kept in the output. Otherwise, Html text without any plain text will be removed. This is useful for example if you want to keep texts that only consist of empty paragraphs in the output. (optional)
     * @param allowUpperCaseItemNumbers Defaults to &#39;false&#39;. If this is enabled, then the ItemNumber of positions will be in uppercase format if the source file has them. By default, all item numbers will be converted to lowercase, but this option will enable the option to support uppercase item numbers as well. (optional)
     * @return ApiResponse&lt;File&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<File> gaebConversionConvertToGaebWithHttpInfo(File gaebFile, Boolean supportSkippedItemNumberLevelsInPositions, String destinationGaebType, String targetExchangePhaseTransform, Boolean enforceStrictOfferPhaseLongTextOutput, Boolean exportQuantityDetermination, Boolean removeUnprintableCharactersFromTexts, Boolean forceIncludeDescriptions, Boolean treatNullItemNumberSchemaAsInvalid, Boolean outputHtmlAsXml, Boolean keepEmptyHtmlText, Boolean allowUpperCaseItemNumbers) throws ApiException {
        com.squareup.okhttp.Call call = gaebConversionConvertToGaebValidateBeforeCall(gaebFile, supportSkippedItemNumberLevelsInPositions, destinationGaebType, targetExchangePhaseTransform, enforceStrictOfferPhaseLongTextOutput, exportQuantityDetermination, removeUnprintableCharactersFromTexts, forceIncludeDescriptions, treatNullItemNumberSchemaAsInvalid, outputHtmlAsXml, keepEmptyHtmlText, allowUpperCaseItemNumbers, null, null);
        Type localVarReturnType = new TypeToken<File>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Converts GAEB files to GAEB files. Used for example when transforming or repairing GAEB files. (asynchronously)
     * 
     * @param gaebFile The input file (optional)
     * @param supportSkippedItemNumberLevelsInPositions Defaults to &#39;false&#39;. This controls if, when deserializing GAEB files, skipped levels in position item numbers should be supported. For example, if an ItemNumberSchema defines three levels - two group levels and one position level - but the ItemNumber of the position is just &#39;01.02&#39;, then it will be displayed as &#39;01.__.02&#39; if this is set to true. (optional)
     * @param destinationGaebType Defaults to GAEB XML V3.2 (optional)
     * @param targetExchangePhaseTransform Defaults to none, meaning no transformation will be done (optional)
     * @param enforceStrictOfferPhaseLongTextOutput Defaults to false. If this is enabled, exported long texts to GAEB XML that use text additions will be strictly schema compliant. If this is not enabled, any text that is marked to contain a text addition is exported in full to ensure that incorrectly used text additions are still preserved in the export. (optional)
     * @param exportQuantityDetermination Defaults to false. If this is enabled, quantities are exported in detail in GAEB XML targets via the &#39;QtyDeterm&#39; (Quantity Determination, or Quantity Take Off) fields. To control this, you can set custom quantity calculations in the &#39;QuantityComponents&#39; property of positions. Please see the entry for &#39;Quantity Determination&#39; in the Dangl.AVA HowTo documentation section. Please be advised that enabling this might export data that was not intended to be exported, like internal quantity calculation details, depending on what data you put in the &#39;QuantityComponents&#39; property. (optional)
     * @param removeUnprintableCharactersFromTexts If this is enabled, unprintable characters are removed from text elements. Otherwise, the conversion might fail in case some text content contains characters that are not allowed in XML output formats. Defaults to true. (optional)
     * @param forceIncludeDescriptions If this is enabled, all description elements like texts and execution descriptions will be output to the result. This is mostly only applicable to GAEB exports to phase 84 - Offer, which does typically not include descriptions. (optional)
     * @param treatNullItemNumberSchemaAsInvalid When exporting to GAEB, an item number schema is usually required. AVACloud will try to fix invalid item number schemas. With this setting, you can also tell AVACloud to treat a null value as invalid. Otherwise, null schemas will simply be ignored and not lead to any schema being generated. It is recommended to enable this option, but it is disabled by default for compatibility reasons. (optional)
     * @param outputHtmlAsXml Defaults to &#39;false&#39;. If this is enabled, then Html text will be output as XML in the output. This means that e.g. void Html tags will always be output with their closing tag, e.g. it will produce &#39;&lt;br /&gt;&#39; instead of &#39;&lt;br&gt;&#39;. (optional)
     * @param keepEmptyHtmlText Defaults to &#39;false&#39;. If this is enabled, then Html text that is empty will be kept in the output. Otherwise, Html text without any plain text will be removed. This is useful for example if you want to keep texts that only consist of empty paragraphs in the output. (optional)
     * @param allowUpperCaseItemNumbers Defaults to &#39;false&#39;. If this is enabled, then the ItemNumber of positions will be in uppercase format if the source file has them. By default, all item numbers will be converted to lowercase, but this option will enable the option to support uppercase item numbers as well. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call gaebConversionConvertToGaebAsync(File gaebFile, Boolean supportSkippedItemNumberLevelsInPositions, String destinationGaebType, String targetExchangePhaseTransform, Boolean enforceStrictOfferPhaseLongTextOutput, Boolean exportQuantityDetermination, Boolean removeUnprintableCharactersFromTexts, Boolean forceIncludeDescriptions, Boolean treatNullItemNumberSchemaAsInvalid, Boolean outputHtmlAsXml, Boolean keepEmptyHtmlText, Boolean allowUpperCaseItemNumbers, final ApiCallback<File> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = gaebConversionConvertToGaebValidateBeforeCall(gaebFile, supportSkippedItemNumberLevelsInPositions, destinationGaebType, targetExchangePhaseTransform, enforceStrictOfferPhaseLongTextOutput, exportQuantityDetermination, removeUnprintableCharactersFromTexts, forceIncludeDescriptions, treatNullItemNumberSchemaAsInvalid, outputHtmlAsXml, keepEmptyHtmlText, allowUpperCaseItemNumbers, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<File>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for gaebConversionConvertToOenorm
     * @param gaebFile The input file (optional)
     * @param supportSkippedItemNumberLevelsInPositions Defaults to &#39;false&#39;. This controls if, when deserializing GAEB files, skipped levels in position item numbers should be supported. For example, if an ItemNumberSchema defines three levels - two group levels and one position level - but the ItemNumber of the position is just &#39;01.02&#39;, then it will be displayed as &#39;01.__.02&#39; if this is set to true. (optional)
     * @param destinationOenormType Defaults to Lv2015 (optional)
     * @param tryRepairProjectStructure Defaults to false. If this is enabled, the converter will try to ensure that the project structure can be mapped to Oenorm. It might introduce additional group levels to ensure a compatible target (optional)
     * @param skipTryEnforceSchemaCompliantXmlOutput If this option is enabled, AVACloud will not attempt to force a schema-compliant Xml output for ÖNorm targets that are Xml based. By default, AVACloud will try to add required fields, even if no data is present, with sensible defaults. This behavior can be disabled with this option. (optional)
     * @param removeUnprintableCharactersFromTexts If this is enabled, unprintable characters are removed from text elements. Otherwise, the conversion might fail in case some text content contains characters that are not allowed in XML output formats. Defaults to true. (optional)
     * @param outputHtmlAsXml Defaults to &#39;false&#39;. If this is enabled, then Html text will be output as XML in the output. This means that e.g. void Html tags will always be output with their closing tag, e.g. it will produce &#39;&lt;br /&gt;&#39; instead of &#39;&lt;br&gt;&#39;. (optional)
     * @param keepEmptyHtmlText Defaults to &#39;false&#39;. If this is enabled, then Html text that is empty will be kept in the output. Otherwise, Html text without any plain text will be removed. This is useful for example if you want to keep texts that only consist of empty paragraphs in the output. (optional)
     * @param allowUpperCaseItemNumbers Defaults to &#39;false&#39;. If this is enabled, then the ItemNumber of positions will be in uppercase format if the source file has them. By default, all item numbers will be converted to lowercase, but this option will enable the option to support uppercase item numbers as well. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call gaebConversionConvertToOenormCall(File gaebFile, Boolean supportSkippedItemNumberLevelsInPositions, String destinationOenormType, Boolean tryRepairProjectStructure, Boolean skipTryEnforceSchemaCompliantXmlOutput, Boolean removeUnprintableCharactersFromTexts, Boolean outputHtmlAsXml, Boolean keepEmptyHtmlText, Boolean allowUpperCaseItemNumbers, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/conversion/gaeb/oenorm";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (supportSkippedItemNumberLevelsInPositions != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("SupportSkippedItemNumberLevelsInPositions", supportSkippedItemNumberLevelsInPositions));
        if (destinationOenormType != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("DestinationOenormType", destinationOenormType));
        if (tryRepairProjectStructure != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("TryRepairProjectStructure", tryRepairProjectStructure));
        if (skipTryEnforceSchemaCompliantXmlOutput != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("SkipTryEnforceSchemaCompliantXmlOutput", skipTryEnforceSchemaCompliantXmlOutput));
        if (removeUnprintableCharactersFromTexts != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("RemoveUnprintableCharactersFromTexts", removeUnprintableCharactersFromTexts));
        if (outputHtmlAsXml != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("OutputHtmlAsXml", outputHtmlAsXml));
        if (keepEmptyHtmlText != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("KeepEmptyHtmlText", keepEmptyHtmlText));
        if (allowUpperCaseItemNumbers != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("AllowUpperCaseItemNumbers", allowUpperCaseItemNumbers));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (gaebFile != null)
        localVarFormParams.put("gaebFile", gaebFile);

        final String[] localVarAccepts = {
            "text/plain", "application/json", "text/json", "application/problem+json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Dangl.Identity" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call gaebConversionConvertToOenormValidateBeforeCall(File gaebFile, Boolean supportSkippedItemNumberLevelsInPositions, String destinationOenormType, Boolean tryRepairProjectStructure, Boolean skipTryEnforceSchemaCompliantXmlOutput, Boolean removeUnprintableCharactersFromTexts, Boolean outputHtmlAsXml, Boolean keepEmptyHtmlText, Boolean allowUpperCaseItemNumbers, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = gaebConversionConvertToOenormCall(gaebFile, supportSkippedItemNumberLevelsInPositions, destinationOenormType, tryRepairProjectStructure, skipTryEnforceSchemaCompliantXmlOutput, removeUnprintableCharactersFromTexts, outputHtmlAsXml, keepEmptyHtmlText, allowUpperCaseItemNumbers, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Converts GAEB files to Oenorm files
     * 
     * @param gaebFile The input file (optional)
     * @param supportSkippedItemNumberLevelsInPositions Defaults to &#39;false&#39;. This controls if, when deserializing GAEB files, skipped levels in position item numbers should be supported. For example, if an ItemNumberSchema defines three levels - two group levels and one position level - but the ItemNumber of the position is just &#39;01.02&#39;, then it will be displayed as &#39;01.__.02&#39; if this is set to true. (optional)
     * @param destinationOenormType Defaults to Lv2015 (optional)
     * @param tryRepairProjectStructure Defaults to false. If this is enabled, the converter will try to ensure that the project structure can be mapped to Oenorm. It might introduce additional group levels to ensure a compatible target (optional)
     * @param skipTryEnforceSchemaCompliantXmlOutput If this option is enabled, AVACloud will not attempt to force a schema-compliant Xml output for ÖNorm targets that are Xml based. By default, AVACloud will try to add required fields, even if no data is present, with sensible defaults. This behavior can be disabled with this option. (optional)
     * @param removeUnprintableCharactersFromTexts If this is enabled, unprintable characters are removed from text elements. Otherwise, the conversion might fail in case some text content contains characters that are not allowed in XML output formats. Defaults to true. (optional)
     * @param outputHtmlAsXml Defaults to &#39;false&#39;. If this is enabled, then Html text will be output as XML in the output. This means that e.g. void Html tags will always be output with their closing tag, e.g. it will produce &#39;&lt;br /&gt;&#39; instead of &#39;&lt;br&gt;&#39;. (optional)
     * @param keepEmptyHtmlText Defaults to &#39;false&#39;. If this is enabled, then Html text that is empty will be kept in the output. Otherwise, Html text without any plain text will be removed. This is useful for example if you want to keep texts that only consist of empty paragraphs in the output. (optional)
     * @param allowUpperCaseItemNumbers Defaults to &#39;false&#39;. If this is enabled, then the ItemNumber of positions will be in uppercase format if the source file has them. By default, all item numbers will be converted to lowercase, but this option will enable the option to support uppercase item numbers as well. (optional)
     * @return File
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public File gaebConversionConvertToOenorm(File gaebFile, Boolean supportSkippedItemNumberLevelsInPositions, String destinationOenormType, Boolean tryRepairProjectStructure, Boolean skipTryEnforceSchemaCompliantXmlOutput, Boolean removeUnprintableCharactersFromTexts, Boolean outputHtmlAsXml, Boolean keepEmptyHtmlText, Boolean allowUpperCaseItemNumbers) throws ApiException {
        ApiResponse<File> resp = gaebConversionConvertToOenormWithHttpInfo(gaebFile, supportSkippedItemNumberLevelsInPositions, destinationOenormType, tryRepairProjectStructure, skipTryEnforceSchemaCompliantXmlOutput, removeUnprintableCharactersFromTexts, outputHtmlAsXml, keepEmptyHtmlText, allowUpperCaseItemNumbers);
        return resp.getData();
    }

    /**
     * Converts GAEB files to Oenorm files
     * 
     * @param gaebFile The input file (optional)
     * @param supportSkippedItemNumberLevelsInPositions Defaults to &#39;false&#39;. This controls if, when deserializing GAEB files, skipped levels in position item numbers should be supported. For example, if an ItemNumberSchema defines three levels - two group levels and one position level - but the ItemNumber of the position is just &#39;01.02&#39;, then it will be displayed as &#39;01.__.02&#39; if this is set to true. (optional)
     * @param destinationOenormType Defaults to Lv2015 (optional)
     * @param tryRepairProjectStructure Defaults to false. If this is enabled, the converter will try to ensure that the project structure can be mapped to Oenorm. It might introduce additional group levels to ensure a compatible target (optional)
     * @param skipTryEnforceSchemaCompliantXmlOutput If this option is enabled, AVACloud will not attempt to force a schema-compliant Xml output for ÖNorm targets that are Xml based. By default, AVACloud will try to add required fields, even if no data is present, with sensible defaults. This behavior can be disabled with this option. (optional)
     * @param removeUnprintableCharactersFromTexts If this is enabled, unprintable characters are removed from text elements. Otherwise, the conversion might fail in case some text content contains characters that are not allowed in XML output formats. Defaults to true. (optional)
     * @param outputHtmlAsXml Defaults to &#39;false&#39;. If this is enabled, then Html text will be output as XML in the output. This means that e.g. void Html tags will always be output with their closing tag, e.g. it will produce &#39;&lt;br /&gt;&#39; instead of &#39;&lt;br&gt;&#39;. (optional)
     * @param keepEmptyHtmlText Defaults to &#39;false&#39;. If this is enabled, then Html text that is empty will be kept in the output. Otherwise, Html text without any plain text will be removed. This is useful for example if you want to keep texts that only consist of empty paragraphs in the output. (optional)
     * @param allowUpperCaseItemNumbers Defaults to &#39;false&#39;. If this is enabled, then the ItemNumber of positions will be in uppercase format if the source file has them. By default, all item numbers will be converted to lowercase, but this option will enable the option to support uppercase item numbers as well. (optional)
     * @return ApiResponse&lt;File&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<File> gaebConversionConvertToOenormWithHttpInfo(File gaebFile, Boolean supportSkippedItemNumberLevelsInPositions, String destinationOenormType, Boolean tryRepairProjectStructure, Boolean skipTryEnforceSchemaCompliantXmlOutput, Boolean removeUnprintableCharactersFromTexts, Boolean outputHtmlAsXml, Boolean keepEmptyHtmlText, Boolean allowUpperCaseItemNumbers) throws ApiException {
        com.squareup.okhttp.Call call = gaebConversionConvertToOenormValidateBeforeCall(gaebFile, supportSkippedItemNumberLevelsInPositions, destinationOenormType, tryRepairProjectStructure, skipTryEnforceSchemaCompliantXmlOutput, removeUnprintableCharactersFromTexts, outputHtmlAsXml, keepEmptyHtmlText, allowUpperCaseItemNumbers, null, null);
        Type localVarReturnType = new TypeToken<File>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Converts GAEB files to Oenorm files (asynchronously)
     * 
     * @param gaebFile The input file (optional)
     * @param supportSkippedItemNumberLevelsInPositions Defaults to &#39;false&#39;. This controls if, when deserializing GAEB files, skipped levels in position item numbers should be supported. For example, if an ItemNumberSchema defines three levels - two group levels and one position level - but the ItemNumber of the position is just &#39;01.02&#39;, then it will be displayed as &#39;01.__.02&#39; if this is set to true. (optional)
     * @param destinationOenormType Defaults to Lv2015 (optional)
     * @param tryRepairProjectStructure Defaults to false. If this is enabled, the converter will try to ensure that the project structure can be mapped to Oenorm. It might introduce additional group levels to ensure a compatible target (optional)
     * @param skipTryEnforceSchemaCompliantXmlOutput If this option is enabled, AVACloud will not attempt to force a schema-compliant Xml output for ÖNorm targets that are Xml based. By default, AVACloud will try to add required fields, even if no data is present, with sensible defaults. This behavior can be disabled with this option. (optional)
     * @param removeUnprintableCharactersFromTexts If this is enabled, unprintable characters are removed from text elements. Otherwise, the conversion might fail in case some text content contains characters that are not allowed in XML output formats. Defaults to true. (optional)
     * @param outputHtmlAsXml Defaults to &#39;false&#39;. If this is enabled, then Html text will be output as XML in the output. This means that e.g. void Html tags will always be output with their closing tag, e.g. it will produce &#39;&lt;br /&gt;&#39; instead of &#39;&lt;br&gt;&#39;. (optional)
     * @param keepEmptyHtmlText Defaults to &#39;false&#39;. If this is enabled, then Html text that is empty will be kept in the output. Otherwise, Html text without any plain text will be removed. This is useful for example if you want to keep texts that only consist of empty paragraphs in the output. (optional)
     * @param allowUpperCaseItemNumbers Defaults to &#39;false&#39;. If this is enabled, then the ItemNumber of positions will be in uppercase format if the source file has them. By default, all item numbers will be converted to lowercase, but this option will enable the option to support uppercase item numbers as well. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call gaebConversionConvertToOenormAsync(File gaebFile, Boolean supportSkippedItemNumberLevelsInPositions, String destinationOenormType, Boolean tryRepairProjectStructure, Boolean skipTryEnforceSchemaCompliantXmlOutput, Boolean removeUnprintableCharactersFromTexts, Boolean outputHtmlAsXml, Boolean keepEmptyHtmlText, Boolean allowUpperCaseItemNumbers, final ApiCallback<File> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = gaebConversionConvertToOenormValidateBeforeCall(gaebFile, supportSkippedItemNumberLevelsInPositions, destinationOenormType, tryRepairProjectStructure, skipTryEnforceSchemaCompliantXmlOutput, removeUnprintableCharactersFromTexts, outputHtmlAsXml, keepEmptyHtmlText, allowUpperCaseItemNumbers, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<File>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
